---
version: "2"
{%- if protobuf %}

exclude_patterns:
  - "api/**/*.pb.go"
{%- endif %}

plugins:
  fixme:
    enabled: true
  gofmt:
    enabled: true
  golint:
    enabled: true
  govet:
    enabled: true
