---
apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: {{ project_name }}
  description: {{ description }}

spec:
  type: library
  lifecycle: {{ lifecycle }}
  owner: {{ git_user_email }}
