backdrops:
  make:
    image: wabenet/wabe-project-build:{{ _commit }}
    volumes:
      - "{{ '{{' }} projectRoot {{ '}}' }}:/build"
      - "{{ '{{' }} projectRoot {{ '}}' }}/.cache:/go/pkg/mod"
    working_dir: "/build/{{ '{{' }} projectPath {{ '}}' }}"
    script: exec make "$@"
