backdrops:
  make:
    image:
      steps: |
        FROM golang:{{ go_version }}
        RUN apt-get update && apt-get install -y git bash curl tree make
        {%- if protobuf %}
        RUN apt-get install -y libprotobuf-dev protobuf-compiler
        RUN go install github.com/golang/protobuf/protoc-gen-go@latest
        {%- endif %}
        RUN go install github.com/goreleaser/goreleaser@latest
        RUN curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s {{ golangci_version }}
    volumes:
      - "{{ '{{' }} projectRoot {{ '}}' }}:/build"
      - "{{ '{{' }} projectRoot {{ '}}' }}/.cache:/go/pkg/mod"
    working_dir: "/build/{{ '{{' }} projectPath {{ '}}' }}"
    script: exec make "$@"
