![release](https://img.shields.io/github/v/release/{{ github_org }}/{{ github_repo }}?sort=semver)
![build](https://img.shields.io/github/actions/workflow/status/{{ github_org }}/{{ github_repo }}/ci.yaml?branch=main&logo=github)
![codecov](https://img.shields.io/codecov/c/github/{{ github_org }}/{{ github_repo }}?logo=codecov)
![codeclimate](https://img.shields.io/codeclimate/maintainability/{{ github_org }}/{{ github_repo }}?logo=codeclimate)
![license](https://img.shields.io/github/license/{{ github_org }}/{{ github_repo }})

# {{ project_name }}{% if is_plugin %} plugin{% endif %}

{{ description }}

{%- if plugin %}
## installation

This plugin is already included in the dodo default distribution.

If you compile your own dodo distribution, you can add this plugin with the
following generate config:

```yaml
plugins:
  - import: {{ github_url }}
```

Alternatively, you can install it as a standalone plugin by downloading the
correct file for your system from the [releases page](https://{{ github_url }}/releases),
then copy it into the dodo plugin directory (`${HOME}/.dodo/plugins`).
{%- endif %}

## license & authors

```text
Copyright {% now 'local', '%Y' %} {{ git_user_name }}

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
```
