---
version: v2

clean: true

inputs:
  - directory: proto

plugins:
  - remote: buf.build/protocolbuffers/go
    out: internal/gen-proto
    opt:
      - paths=source_relative
      - default_api_level=API_OPAQUE
  - remote: buf.build/grpc/go
    out: internal/gen-proto
    opt:
      - paths=source_relative

managed:
  enabled: true
  override:
    - file_option: go_package_prefix
      value: {{ github_url }}/internal/gen-proto
