---
project_name: {{ project_name }}

before:
  hooks:
    - go mod download
    - go generate ./...

builds:
  - id: plugin
    main: ./cmd/{{ binary_name }}
    env: ["CGO_ENABLED=0"]
    goos: [linux, darwin]

archives:
  - id: plugin
    builds: [plugin]
    format: binary
    name_template: "{{ '{{' }} .Binary {{ '}}' }}_{{ '{{' }} .Os {{ '}}' }}_{{ '{{' }} .Arch {{ '}}' }}"

checksum:
  name_template: 'checksums.txt'

snapshot:
  name_template: "{{ '{{' }} .Tag {{ '}}' }}-next"

changelog:
  sort: asc
  filters:
    exclude:
      - '^docs:'
      - '^test:'
      - '^chore:'
