---
name: CI

on: [push, pull_request]

jobs:
  {%- if is_standalone %}
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: wabenet/project-template/actions/build@{{ _commit }}
        with:
          go-version: "{{ go_version }}"
  {%- endif %}

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: wabenet/project-template/actions/coverage@{{ _commit }}
        with:
          go-version: "{{ go_version }}"
          cc-reporter-id: ${{ '{{' }} secrets.CC_TEST_REPORTER_ID {{ '}}' }}
