---
name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: "wabenet/wabe-project-build:{{ _commit }}"
      options: --user runner
    steps:
      - uses: wabenet/project-template/actions/build@{{ _commit }}
        with:
          release: true
          github-token: ${{ '{{' }} secrets.GITHUB_TOKEN {{ '}}' }}
