---
name: CI

on: [push, pull_request]

jobs:
  {%- if is_standalone %}
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: {{ go_version }}

      - uses: goreleaser/goreleaser-action@v2
        with:
          args: build --snapshot --rm-dist
  {%- endif %}

  codecov:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: actions/setup-go@v4
        with:
          go-version: {{ go_version }}

      - name: Test and coverage
        run: go test -race -coverprofile=coverage.txt -covermode=atomic -coverpkg=./... ./...

      - name: Upload to codecov
        run: bash <(curl -s https://codecov.io/bash)

  codeclimate:
    runs-on: ubuntu-latest
    env:
      CC_TEST_REPORTER_ID: ${{ '{{' }} secrets.CC_TEST_REPORTER_ID {{ '}}' }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: actions/setup-go@v4
        with:
          go-version: {{ go_version }}

      - name: Set up test reporter
        run: |
          curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
          chmod +x ./cc-test-reporter
          ./cc-test-reporter before-build

      - name: Upload to codeclimate
        run: |
          go test -race -coverprofile=c.out -covermode=atomic -coverpkg=./... ./...
          ./cc-test-reporter after-build -t gocov -p $(go list -m)
